<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Jogo</title>
    <div th:insert="fragments/cabecalho.html"></div>
</head>

<body>
    <div th:insert="fragments/menu.html"></div>

    <form th:object="${jogo}" th:action="@{/salvarJogo}" method="post">
        <input type="text" th:field="*{genero}" placeholder="Gênero"/>
        <input type="text" th:field="*{faixaEtaria}" placeholder="Faixa Etária"/>
        <input type="text" th:field="*{sinopse}" placeholder="Sinopse"/>
        <input type="text" th:field="*{modos}" placeholder="Modos"/>
        <input type="text" th:field="*{caracteristicas}" placeholder="Características"/>
        <input type="text" th:field="*{plataforma}" placeholder="Plataformas"/>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>